<!-- ======= Clients Section ======= -->
<!-- <section id="clients" class="clients section-bg">
  <div class="container">
    <div class="row">
      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../assets/img/clients/client-1.png"
          class="img-fluid"
          alt=""
        />
      </div>
      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img src="../../assets/logonews.png" class="img-fluid" alt="" />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../assets/img/clients/client-2.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../assets/img/clients/client-3.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../assets/img/clients/client-4.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../assets/img/clients/client-5.png"
          class="img-fluid"
          alt=""
        />
      </div>

      <div
        class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center"
      >
        <img
          src="../../assets/img/clients/client-6.png"
          class="img-fluid"
          alt=""
        />
      </div>
    </div>
  </div>
</section> -->

<!-- End Clients Section -->
<!-- <section id="team" class="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img
              src="../../assets/landingpage/img/team-1.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Walter White</h4>
            <span>Chief Executive Officer</span>
            <p>Explicabo voluptatem mollitia et repellat</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img
              src="../../assets/landingpage/img/team-2.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Sarah Jhonson</h4>
            <span>Product Manager</span>
            <p>Aut maiores voluptates amet et quis</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img
              src="../../assets/landingpage/img/team-3.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>William Anderson</h4>
            <span>CTO</span>
            <p>Quisquam facilis cum velit laborum corrupti</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img
              src="../../assets/landingpage/img/team-4.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Amanda Jepson</h4>
            <span>Accountant</span>
            <p>Dolorum tempora officiis odit laborum officiis</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img
              src="../../assets/landingpage/img/team-1.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Walter White</h4>
            <span>Chief Executive Officer</span>
            <p>Explicabo voluptatem mollitia et repellat</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4 mt-lg-0">
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img
              src="../../assets/landingpage/img/team-2.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>Sarah Jhonson</h4>
            <span>Product Manager</span>
            <p>Aut maiores voluptates amet et quis</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mt-4">
        <div class="member d-flex align-items-start">
          <div class="pic">
            <img
              src="../../assets/landingpage/img/team-3.jpg"
              class="img-fluid"
              alt=""
            />
          </div>
          <div class="member-info">
            <h4>William Anderson</h4>
            <span>CTO</span>
            <p>Quisquam facilis cum velit laborum corrupti</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-- *************************************** -->



<!-- FOR DEMO PURPOSE-->
<div class="logo-slider">
	<div class="logo-slide-track">
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/4Rivers.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/AVT.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/CareerSource.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/CFEC.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/CityofOrlando.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/CommunityCoordinatedCare.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/DentalSociety.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/DrPhillips.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/Ferran.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/FloridaADA.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/FloridaHospital.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/Goodwill.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/HarvardJolly.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/HiltonOrlando.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/IndraSystems.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/JobsPartnership.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/Kenworth.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/L3.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/Lockheed.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/MACF.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/Marriott.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/Mitsubishi.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/NCS.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/Northrop.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/OrangeCountyFarmBureau.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/OrlandoHealth.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/ProImageSolutions.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/PublicAllies.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/SeaWorld.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/SecondHarvest.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/UF.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/Universal.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/UP.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/WaltDisney.png" alt="" />
		</div>
		<div class="slide">
			<img src="https://www.orangetechcollege.net/UserFiles/Servers/Server_86919/Image/Partners/Wyndham.png" alt="" />
		</div>
	</div>
</div>
