<!-- #header -->
<header id="header">
  <div class="container">
    <div id="logo">
      <a href="#hero"
        ><img
          src="../../assets/logo.png"
          alt=""
          title=""
          padding="2px"
          width="100px"
      /></a>
      <!-- Uncomment below if you prefer to use a text logo -->
      <!--<h1><a href="#hero">Regna</a></h1>-->
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#hero">Accueil </a></li>
        <li class="menu-has-children">
          <a href="">Apropos</a>
          <ul>
            <li><a href="#">Mission</a></li>

            <li><a href="#">Mention Légales</a></li>
          </ul>
        </li>
        <li><a href="#services">Bureau</a></li>
        <li class="menu-has-children">
          <a href="">Actualité</a>
          <ul>
            <li><a href="#">Action</a></li>

            <li><a href="#">Evenment</a></li>
          </ul>
        </li>

        <li><a href="#team">Partenaire </a></li>

        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav>
    <!-- #nav-menu-container -->
  </div>
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-12">
        <div
          class="d-flex justify-content-between align-items-center breaking-news bg-white"
        >
          <div
            class="d-flex flex-row flex-grow-1 flex-fill justify-content-center bg-danger py-2 text-white px-1 news"
          >
            <span class="d-flex align-items-center">&nbsp;مستجدات</span>
          </div>
          <marquee
            class="news-scroll"
            behavior="scroll"
            direction="right"
            onmouseover="this.stop();"
            onmouseout="this.start();"
          >
            <a href="#"
              >الإتحاد التونسي للمهن الحرة يدعو إلى حوار وطني شامل ومعمق لانقاذ البلاد من الأزمة
            </a>
          <img src="../../assets/logonews.png" margin-left= "5px">
            <a href="#"
              >الإعلان عن تأسيس المكتب الجهوي للإتحاد التونسي للمهن الحرة
            </a>
          <img src="../../assets/logonews.png">
            <a href="#"
              >المهندس كمال سحنون: الموارد البشرية التي تمتلكها تونس تستطيع إنقاذها من الأزمة
            </a>
          </marquee>
        </div>
      </div>
    </div>
  </div>
</header>
<!--==========================
  Hero Section
============================-->
<section id="hero">
  <div class="hero-container">
    <h1>Bienvenu sur le site de UTPL</h1>
    <h2></h2>
    <a href="#about" class="btn-get-started">Get Started</a>
  </div>
</section>
<!-- #hero -->
<div class="my-5 text-center container">
  <div class="row mb-2">
    <!-- <div class="col text-center">
      <h1>Carousel</h1>
      <p class="lead">Does what it says on the tin.</p>
    </div> -->
  </div>
  <div class="row d-flex align-items-center">
    <div class="col-1 d-flex align-items-center justify-content-center">
      <a href="#carouselExampleIndicators">
        <div class="carousel-nav-icon">
          <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
                 <path d="m88.6,121.3c0.8,0.8 1.8,1.2 2.9,1.2s2.1-0.4 2.9-1.2c1.6-1.6 1.6-4.2 0-5.8l-51-51 51-51c1.6-1.6 1.6-4.2 0-5.8s-4.2-1.6-5.8,0l-54,53.9c-1.6,1.6-1.6,4.2 0,5.8l54,53.9z"/>
              </svg> -->
        </div>
      </a>
    </div>
    <div class="col-10">
      <!--Start carousel-->
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div
                style="background-image: url('../../assets/event/last.jpg')"
                class="col-12 col-md d-flex align-items-center justify-content-center"
              ></div>
              <div
                style="background-image: url('../../assets/img/team-2.png')"
                class="col-12 col-md d-flex align-items-center justify-content-center"
              ></div>
              <div
                style="background-image: url('../../assets/img/team-3.png')"
                class="col-12 col-md d-flex align-items-center justify-content-center"
                class="col-12 col-md d-flex align-items-center justify-content-center"
              ></div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div
                style="background-image: url('../../assets/img/team-4.png')"
                class="col-12 col-md d-flex align-items-center justify-content-center"
              ></div>
              <div
                style="background-image: url('../../assets/event/last.jpg')"
                class="col-12 col-md d-flex align-items-center justify-content-center"
              ></div>
              <div
                style="background-image: url('../../assets/img/team-2.png')"
                class="col-12 col-md d-flex align-items-center justify-content-center"
                class="col-12 col-md d-flex align-items-center justify-content-center"
              ></div>
            </div>
          </div>
        </div>
      </div>
      <!--End carousel-->
    </div>
    <div class="col-1 d-flex align-items-center justify-content-center">
      <a href="#carouselExampleIndicators">
        <!-- <div class="carousel-nav-icon">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" xmlns:xlink="http://www.w3.org/1999/xlink">
              <path d="m40.4,121.3c-0.8,0.8-1.8,1.2-2.9,1.2s-2.1-0.4-2.9-1.2c-1.6-1.6-1.6-4.2 0-5.8l51-51-51-51c-1.6-1.6-1.6-4.2 0-5.8 1.6-1.6 4.2-1.6 5.8,0l53.9,53.9c1.6,1.6 1.6,4.2 0,5.8l-53.9,53.9z"/>
           </svg>
        </div> -->
      </a>
    </div>
  </div>
</div>
<style>
  .carousel-nav-icon {
    height: 48px;
    width: 48px;
  }

  .col,
  .col-sm,
  .col-md {
    margin: 8px;
    height: 300px;
    background-size: cover;
    background-position: center center;
  }

  /* nothing below this point is needed*/
  @import url("https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,700,800,900&display=swap");
  body {
    background-color: #f2f2f2;
    color: #171717;
    height: 100vh;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-family: "Libre Franklin", sans-serif;
    font-weight: 700;
  }
</style>
<!--==========================
    About Us Section
  ============================-->

<section id="about">
  <div class="container">
    <div class="row about-container">
      <div class="col-lg-6 content order-lg-1 order-2">
        <h2 class="title">A propos de nous</h2>
        <p>
          L'UTPL c'est l'union des ordres des professions libérales:Avocats,
          Architectes, Dentistes, Médecins, Ingénieurs, Experts comptables et
          Comptables. Fondé en Aout 2013, est une association de droits
          tunisiens.
        </p>

        <div class="icon-box wow fadeInUp">
          <div class="icon"><i class="fa fa-shopping-bag"></i></div>
          <h4 class="title"><a href="">ŒUVRER</a></h4>
          <p class="description">
            Pour un environnement favorisant l’accès aux solutions de santé
            innovantes et de qualité, pour un plus grand nombre de patients
            tunisiens à travers tout le pays.
          </p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
          <div class="icon"><i class="fa fa-photo"></i></div>
          <h4 class="title"><a href="">AGIR</a></h4>
          <p class="description">
            En véritable partenaire de confiance des acteurs de la santé en
            Tunisie, tant pour la promotion de la recherche médicale que pour le
            développement du système de santé Tunisien.
          </p>
        </div>

        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
          <div class="icon"><i class="fa fa-bar-chart"></i></div>
          <h4 class="title"><a href="">ENCOURAGER</a></h4>
          <p class="description">
            Le respect des codes de conduite conformes à l'éthique de la
            profession et resserrer les liens de confraternité avec les
            différents intervenants de la santé.
          </p>
        </div>
      </div>

      <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
    </div>
  </div>
</section>
<!-- Portfolio Section
  ============================-->
<!--==========================
    Team Section
  ============================-->
<section id="team">
  <div class="container wow fadeInUp">
    <div class="section-header">
      <h3 class="section-title">Bureau</h3>
      <p class="section-description">
        Partez à la rencontre des membres du UTPL
      </p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic">
            <img src="../../assets/landingpage/img/team-1.jpg" alt="" />
          </div>
          <h4>Khaled Laouti</h4>
          <span>Chief Executive Officer</span>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic">
            <img src="../../assets/landingpage/img/team-2.jpg" alt="" />
          </div>
          <h4>Amine Zaghdoudi</h4>
          <span>Product Manager</span>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic">
            <img src="../../assets/landingpage/img/team-3.jpg" alt="" />
          </div>
          <h4>Mohamed Larbi Jlassi</h4>
          <span>CTO</span>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="member">
          <div class="pic">
            <img src="../../assets/landingpage/img/team-4.jpg" alt="" />
          </div>
          <h4>Lamia Masmoudi</h4>
          <span>Accountant</span>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href=""><i class="fa fa-google-plus"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- #team -->

<!--==========================
    Contact Section
  ============================-->
<section id="portfolio">
  <div class="container wow fadeInUp">
    <div class="section-header">
      <h3 class="section-title">Evenment</h3>
      <p class="section-description">Event Description</p>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul id="portfolio-flters">
          <li
            data-filter=".filter-app, .filter-card, .filter-logo, .filter-web"
            class="filter-active"
          >
            All
          </li>
          <li data-filter=".filter-app">Ingenieur</li>
          <li data-filter=".filter-card">Medecin</li>
          <li data-filter=".filter-logo">Avocat</li>
          <li data-filter=".filter-web">Juge</li>
        </ul>
      </div>
    </div>

    <div class="row" id="portfolio-wrapper">
      <div class="col-lg-3 col-md-6 portfolio-item filter-app">
        <a href="">
          <img src="../../assets/event/2.png" alt="" />
          <div class="details">
            <h4>App 1</h4>
            <span>Description</span>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-web">
        <a href="">
          <img src="../../assets/event/last.jpg" alt="" />
          <div class="details">
            <h4>Web 2</h4>
            <span>Description</span>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-app">
        <a href="">
          <img src="../../assets/event/2.png" alt="" />
          <div class="details">
            <h4>App 3</h4>
            <span>Description</span>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-card">
        <a href="">
          <img src="../../assets/event/last.jpg" alt="" />
          <div class="details">
            <h4>Card 1</h4>
            <span>Description</span>
          </div>
        </a>
      </div>

      <!-- <div class="col-lg-3 col-md-6 portfolio-item filter-card">
        <a href="">
          <img src="../../assets/event/photo-compressée-08.png" alt="" />
          <div class="details">
            <h4>Card 2</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-web">
        <a href="">
          <img src="../../assets/event/Untitled-01-600x600.png" alt="" />
          <div class="details">
            <h4>Web 3</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-card">
        <a href="">
          <img src="../../assets/event/Untitled-04-600x600.png" alt="" />
          <div class="details">
            <h4>Card 3</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-app">
        <a href="">
          <img src="../../assets/event/Untitled-03-600x600.png" alt="" />
          <div class="details">
            <h4>App 2</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
        <a href="">
          <img src="../../assets/event/Untitled-05.png" alt="" />
          <div class="details">
            <h4>Logo 1</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
        <a href="">
          <img src="../../assets/event/Untitled-1-03.png" alt="" />
          <div class="details">
            <h4>Logo 3</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-web">
        <a href="">
          <img src="../../assets/event/Untitled-2-13.png" alt="" />
          <div class="details">
            <h4>Web 1</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div>

      <div class="col-lg-3 col-md-6 portfolio-item filter-logo">
        <a href="">
          <img src="../../assets/event/Untitled-1-05.png" alt="" />
          <div class="details">
            <h4>Logo 2</h4>
            <span>Alored dono par</span>
          </div>
        </a>
      </div> -->
    </div>
  </div>
</section>
<!-- #portfolio -->

<!--==========================
 ==========================
    Facts Section
  ============================-->
<!-- <section id="facts">
    <div class="container wow fadeIn">
      <div class="section-header">
        <h3 class="section-title">Facts</h3>
        <p class="section-description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque</p>
      </div>
      <div class="row counters">
        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">232</span>
          <p>Clients</p>
        </div>
        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">521</span>
          <p>Projects</p>
        </div>
        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">1,463</span>
          <p>Hours Of Support</p>
        </div>
        <div class="col-lg-3 col-6 text-center">
          <span data-toggle="counter-up">15</span>
          <p>Hard Workers</p>
        </div>
      </div>
    </div>
  </section>#facts -->

<!--==========================
    Services Section
  ============================-->
<section id="services">
  <div class="container wow fadeIn">
    <div class="section-header">
      <h3 class="section-title">Services</h3>
      <p class="section-description">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="box">
          <div class="icon">
            <a href=""><i class="fa fa-bullhorn"></i></a>
          </div>
          <h4 class="title"><a href="">Promotion</a></h4>
          <p class="description">La promotion de la recherche clinique</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="box">
          <div class="icon">
            <a href=""><i class="fa fa-truck"></i></a>
          </div>
          <h4 class="title"><a href="">Approvisionnement</a></h4>
          <p class="description">
            L'approvisionnement du marché et l'anticipation de tout risque de
            rupture
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="box">
          <div class="icon">
            <a href=""><i class="fa fa-cogs"></i></a>
          </div>
          <h4 class="title"><a href="">Gestion</a></h4>
          <p class="description">
            La gestion de la situation PCT et des retards de paiement
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
        <div class="box">
          <div class="icon">
            <a href=""><i class="fa fa-lightbulb-o"></i></a>
          </div>
          <h4 class="title"><a href="">Innovation</a></h4>
          <p class="description">
            La mise en place des contrats innovants pour un meilleur accès aux
            thérapies
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
        <div class="box">
          <div class="icon">
            <a href=""><i class="fa fa-eye"></i></a>
          </div>
          <h4 class="title"><a href="">Veille</a></h4>
          <p class="description">
            La veille au respect des bonnes pratiques de promotion (Charte
            éthique)
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
        <div class="box">
          <div class="icon">
            <a href=""><i class="fa fa-handshake-o"></i></a>
          </div>
          <h4 class="title"><a href="">Respect</a></h4>
          <p class="description">
            Le respect des brevets et de la propriété intellectuelle
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- #services -->

<!--==========================
  Call To Action Section
  ============================-->
<section id="call-to-action">
  <div class="logo-slider">
    <div class="logo-slide-track">
      <div class="slide">
        <img src="../../assets/partenaire.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../assets/partenaire.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../assets/partenaire.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../assets/partenaire.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../assets/partenaire.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../assets/partenaire.png" alt="" />
      </div>
      <div class="slide">
        <img src="../../assets/partenaire.png" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- #call-to-action -->

<section id="contact">
  <div class="container wow fadeInUp">
    <div class="section-header">
      <h3 class="section-title">Contact</h3>
      <p class="section-description">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem
        accusantium doloremque
      </p>
    </div>
  </div>

  <!-- <div
    id="google-map"
    data-latitude="40.713732"
    data-longitude="-74.0092704"
  ></div> -->
  <div class="map">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6388.185353791306!2d10.17717072423297!3d36.81629905888891!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34865de6f1c1%3A0xe9c64dc0e02f8969!2sOrdre%20des%20Experts%20Comptables%20de%20Tunisie%20OECT!5e0!3m2!1sfr!2stn!4v1616438769629!5m2!1sfr!2stn"
      width="800"
      height="600"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
    ></iframe>
  </div>
  <div class="container wow fadeInUp">
    <div class="row justify-content-center">
      <div class="col-lg-3 col-md-4">
        <div class="info">
          <div>
            <i class="fa fa-map-marker"></i>
            <p>
              Le siège de l'UTPL est au 95 avenue Mohamed V, 1002 Tunis.
              Président<br />1002 Tunis. Président
            </p>
          </div>

          <div>
            <i class="fa fa-envelope"></i>
            <p>utpl@utpl.com</p>
          </div>

          <div>
            <i class="fa fa-phone"></i>
            <p>71 000 000</p>
          </div>
        </div>

        <div class="social-links">
          <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
          <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
          <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
          <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
          <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-5 col-md-8">
        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="" method="post" role="form" class="contactForm">
            <div class="form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                data-rule="minlen:4"
                data-msg="Please enter at least 4 chars"
              />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                data-rule="email"
                data-msg="Please enter a valid email"
              />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Subject"
                data-rule="minlen:4"
                data-msg="Please enter at least 8 chars of subject"
              />
              <div class="validation"></div>
            </div>
            <div class="form-group">
              <textarea
                class="form-control"
                name="message"
                rows="5"
                data-rule="required"
                data-msg="Please write something for us"
                placeholder="Message"
              ></textarea>
              <div class="validation"></div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- #contact -->

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="footer-top">
    <div class="container"></div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright
      <strong
        ><a href="http://www.tunidesign.net" style="color: #ff0000"
          >TuniDesign</a
        ></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
      -->
    </div>
  </div>
</footer>
