
<div id="page-wrapper">
  <div class="container-fluid">


    <form method="post" (submit)="AddNews()" >
      <h4>Add News</h4>

      <div class="form-group">
        <select [(ngModel)]="doyensSelected" name ="doyensSelected">
          <option *ngFor="let doyen  of doyenne"  >
            {{ doyen.name }}
          </option>
        </select>

      </div>

      <div class="form-group">
        <label for="title">News Title</label>
        <input
          type="text"
          name="title"
          class="form-control title"
          id="title"
          placeholder="News Title"
          required
          [(ngModel)]="title"
        />
      </div>
      <label for="title">Link</label>
      <input
        type="text"
        name="title"
        class="form-control title"
        id="title"
        placeholder="Link"
        required
        [(ngModel)]="link"
      />
      <div class="form-group">
        <label for="content">News Content</label>
        <textarea
          class="form-control content"
          name="content"
          rows="5"
          id="content"
          required
          [(ngModel)]="description"
        ></textarea>
      </div>

      <button type="submit" name="submit" id="postnews" class="btn btn-info">
        Post news
      </button>
    </form>
  </div>
  <!-- /#page-wrapper -->
</div>
